##
##
##  @(#) : git global untrack file settings
#        :   for Window
##
#
# @version  1.0.0
# @author   Furukawa Atsushi <atsushifx@gmail.com>
# @update   2023-09-24
# @license  MIT
#
# @desc<<
# git ignore files about,
#  Windows XDG_BASE_CONFIG
#
#<<

## Utils
# git
jgit/*
scoop/
configstore/

## AI Agents
# claude code
claude/*
!claude/*.MD
!claude/command/*
!claude/settings.json


## Languages
